$height: 30px;
$color: #000000;

a.tooltips {
  position: relative;
  display: inline;

  span {
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: $color;
    height: $height;
    line-height: $height;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;

    :after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0; height: 0;
      border-top: 8px solid $color;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;

    }
  }
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: $height;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}
